@import url('https://fonts.googleapis.com/css2?family=Itim&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.titulo{
    position:absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.page-nav {
    background-image: url(../image/2.jpg);
    color: white;
    position: static;
    height: 100px;
}

.navbar{
    bottom: 20px;
    margin: auto;
    display:flex;

}
nav{
    position:absolute;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 40px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.nombre-tienda{
    position:absolute;
    top: 35px;
    left: 7%;
}
.login{
    position:relative;
    bottom: 130px;
    left: 1600px;
}
.logo{
    position:absolute;
    right: 90%;
    height: 15vh;
    margin: auto;
    display: flex;

}
.userImg{
    position:relative;
    bottom: 3px;
    right: 3%;

}
.userImg1{
    position:relative;
    bottom: 3px;
    right: 3%;
}
.logout{
    position:relative;
    bottom: 130px;
    left: 1663px;
    font-size: 20px;
}


.logoutimg{
    position:absolute;
    bottom: 3px;
    right: 170px;}

.login1{
    position:relative;
    bottom: 130px;
    left: 1663px;
    font-size: 20px;
}