@import url('https://fonts.googleapis.com/css2?family=Itim&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.titulo{
    position:static;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}
.page-nav {
    background-image: url(../image/2.jpg);
    color: white;
    position: static;
    height: 100px;
}
.tabla{
    position: static;
}
.navbar{
    bottom: 20px;
    margin: auto;
    display:flex;
    align-items: center;
    position:relative;

}
nav{
    padding-left: 60px;
    position:absolute;
    left:29%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.nombre-tienda{
    position:absolute;
    top: 35px;
    left: 7%;
}
.login{
    position:absolute;
    top: 5px;
    left: 88%;
}
.logo{
    position:absolute;
    right: 90%;
    height: 15vh;
    margin: auto;
    display: flex;

}
