<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <title>Administrador</title>
    </head>
    <body>     
        <div class="container">
            <div class="container p-3 my-3 bg-primary text-white"> </div>
            <div class="card-body">

                <!-- Esto es un formulario -->
                <div class="container">
                    <form th:object="${monitor}"
                          th:action="@{/admin/productos/monitores/save}"
                          method="POST" enctype="multipart/form-data"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="marcas">Marca</label>
                            <div class="col-sm-10">
                                <select th:field="*{marca}" class="form-control form-control-sm col-md-6" id="marca" aria-describedby="emailHelp">
                                    <option th:each="x:${marcas}"
                                            th:value="${x.id}"
                                            th:text="${x.marca}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="categorias">Categoria</label>
                            <div class="col-sm-10">
                                <select th:field="*{categoria}" class="form-control form-control-sm col-md-6" id="categoria" aria-describedby="emailHelp">
                                    <option th:each="x:${categorias}"
                                            th:value="${x.id}"
                                            th:text="${x.nombre}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="modelo">Modelo</label>                            
                            <div class="col-sm-10">                                
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{modelo}"  placeholder= "Modelo" id="modelo" aria-describedby="emailHelp">                            
                            </div>
                        </div>

                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="costo">Precio en colones</label>                            
                            <div class="col-sm-10">                                
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{costo}"  placeholder= "Precio" id="costo" aria-describedby="emailHelp">                            
                            </div>
                        </div>
                        <div class="form-group mb-3 row"> 
                            <label class="col-md-2 col-form-label" for="descripcion">Descripcion</label>
                            <div class="col-sm-10 t"> 
                                <textarea type="text" class="fs-6 form-control form-control-sm col-md-6" th:field="*{descripcion}" placeholder="" id="clientecomentario" aria-describedby="emailHelp" rows="6"
                                          style="background: #fff;"></textarea>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label" for="imageFile">Foto del producto</label>
                            <input type="file" class="form-control" name="imageFile" />
                        </div>
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

