<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Audifonos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="css/tablas.css"/>
    </head>
    <body>
        <div class="page-nav">
            <div class="nombre-tienda">
                <h1><a title="Logo" href="index.html">
                    </a> Tienda</h1>
            </div>
            <div class="logo">
                <img src="image/LOGO-HO.png" alt=""/>
            </div>

        </div>
        <div class="page-nav">

        </div>
        <div class="login">
            <nav>
                <ul>
                    <li> <a href="login.html">Log in</a> </li>
                    <li> <a href="url">Registrarse</a> </li>
                </ul>           
        </div>

    </nav>
    <div class="navbar">
        <nav>
            <ul>
                <li> <a href="index.html">Home</a> </li>
                <li> <a href="categorias.html">Menu</a> </li>
                <li> <a href="monitor">Monitores</a> </li>
                <li> <a href="myt">Mouse y teclado</a> </li>
                <li> <a href="url">Contactenos</a> </li>
                <li> <a href="url">Carrito de copra</a> </li>
            </ul>
        </nav>
    </div>
    <div class="titulo"><h2 th:text="${titulo}"></h2> </div> 
    <div class="tabla"> 
        <table class="fs-1 table table-Light table-bordered">
            <thead class="table text-light" style="background-color: #000">
                <tr><!<!-- tablerow -->
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo </th>
                    <th scope="col">Precio </th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${audifonos}">
                <tr>
                    <td th:text="${user.getMarca.getMarca}"></td>
                    <td th:text="${user.getNombre_audifono}"></td>
                    <td th:text="${user.getPrecio_audifono}"></td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <footer th:replace="plantilla/template::footer">    </footer>
</body>