<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="centro">
            <div class="cuadrado">
                <div class="text">Inicio de Sesión</div>
                <form name="f" th:action="@{/login}" method="post">
                    <!-- @{/login} --> <!-- post -->
                    <fieldset>
                        <!-- ERROR DISPLAY -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Usuario y Contraseña incorrectos.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-succes">
                            Has cerrado sesión.
                        </div>

                        <!-- LOGIN CONTROLS -->
                        <div class="datos">
                            <label for="txtUsername">Nombre</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="datos">
                            <label for="txtPassword">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>
                        <!-- LOGIN BUTTON -->
                        <div class="form-actions text-center">
                            <div class="inner"></div>
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>
                        <div class="registrarse">¿No tienes una cuenta? <a class ="mt-5" href="/registro">¡Registrate ahora!</a></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
